<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="=X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Character Name</th>
            <th>Owner</th>
        </tr>
        {% for item in sheets %}
            <tr>
                <th>{{ item[0] }}</th>
                <th>{{ item[1] }}</th>
                <th>{{ item[2] }}</th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>