<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="=X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="POST">
        <table>
            <tr>
                <th>Name</th>
                <th>Class</th>
                <th>Race</th>
            </tr>
            <tr>
                <input type="text" name="character_name">
                <input type="text" name="character_class" list="classes">
                <datalist id="classes">
                    <option value="Artificer"></option>
                    <option value="Barbarian"></option>
                    <option value="Bard"></option>
                    <option value="Cleric"></option>
                    <option value="Druid"></option>
                    <option value="Fighter"></option>
                    <option value="Monk"></option>
                    <option value="Paladin"></option>
                    <option value="Ranger"></option>
                    <option value="Rouge"></option>
                    <option value="Sorcerer"></option>
                    <option value="Warlock"></option>
                    <option value="Wizard"></option>
                </datalist>
                <input type="text" name="character_race">
                <input type="submit" value="add">
            </tr>
        </table>
    </form>
    <a href="/">Return to contents</a>

</body>
</html>